<?xml version="1.0" encoding="utf-8"?>
<!--
use this packages.config for appropriate restoring of solution packages in VSTS. 
see guidance: https://docs.microsoft.com/nl-nl/azure/data-lake-analytics/data-lake-analytics-cicd-overview
-->
<packages>
  <package id="Microsoft.Azure.DataLake.USQL.SDK" version="1.4.180926" targetFramework="net452" />
</packages>